<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>اسئلة الدورات</title>
</head>
<body>
<div style="text-align: center;" dir="rtl">

    <br><a href="{% url 'IslamicLiteratureP'%}" style="font-size: 18px;"> إضافة دورة </a><br><br>
    {% for x in name%}
    <pre style="font-size: 18px">{{x.number}}/{{x.pyear}}    <a href="{% url 'IslamicLiteraturePE' pyear=x.pyear number=x.number%}">تعديل\حذف</a>    </pre>
    {%endfor%}



</div>
<a href="{% url 'IslamicLiterature'%}">الرجوع</a>
</body>
</html>