<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> سؤال و أربع خيارات</title>
</head>
<body>
<div style="text-align: center;" dir="rtl">
        <br><a href="{% url 'APSemantics4Add'%}" style="font-size: 18px;"> إضافة مجموعة اسئلة </a><br><br>
    {% for x in names %}<pre style="font-size: 18px">{{x.name}}  <a href="{% url 'APSemantics4E' number=x.number%}">تعديل\حذف</a>      <a href="{% url 'APSemantics4' number=x.number%}"> اضافة\حذف اسئلة</a></pre>{%endfor%}
</div>
<a href="{% url 'APSemantics'%}">الرجوع</a>
</body>
</html>