<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>الفصل الاول</title>
</head>
<body>
<div align="center">

    <a href="{% url 'AGMA5' %}">نحو و وتاريخه </a><br><br>
    <a href="{% url 'Philology' %}">فقه اللغة</a><br><br>
    <a href="{% url 'AbbasiPoetry' %}">شعر العباسي</a><br><br>
    <a href="{% url 'AndalusianPoetry' %}">شعر أندلسي</a><br><br>
    <a href="{% url 'Critique' %}">نقد 1</a><br><br>
    <a href="{% url 'AHistory3' %}">تاريخ سياسي 3</a><br><br>
    <a href="{% url 'login' %}">الخدمات</a><br><br>
</div>
</body>
</html>