<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>الفصل الاول</title>
</head>
<body>

<div align="center">

    <a href="{% url 'GMA' %}">نحو و صرف 1</a><br><br>
    <a href="{% url 'ResearchSeeds' %}">أصول البحث</a><br><br>
    <a href="{% url 'login' %}">اللغة الانكليزية 1</a><br><br>
    <a href="{% url 'login' %}">ثقافة</a><br><br>
    <a href="{% url 'login' %}">الأدب الجاهلي1</a><br><br>
    <a href="{% url 'login' %}">علم البيان</a><br><br>
    <a href="{% url 'login' %}">التاريخ السياسي1</a><br><br>
    <a href="{% url 'login' %}">الخدمات</a><br><br>
</div>
<a href="{% url 'main'%}">الرجوع</a>
</body>
</html>