<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>الفصل الاول</title>
</head>
<body>
<div align="center">

    <a href="{% url 'AGMA3' %}">نحو و صرف 3</a><br><br>
    <a href="{% url 'QuranSciences' %}">علوم القرآن</a><br><br>
    <a href="{% url 'IslamicLiterature' %}">الأدب الإسلامي</a><br><br>
    <a href="{% url 'Semantics' %}">علم المعاني 1</a><br><br>
    <a href="{% url 'AEn3' %}">انكليزي 3</a><br><br>
    <a href="{% url 'PersianM' %}">فارسي 2</a><br><br>
    <a href="{% url 'AHistory2' %}">التاريخ السياسي</a><br><br>
    <a href="{% url 'login' %}">الخدمات</a><br><br>
</div>
</body>
</html>