<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>اضافة طالب</title>
</head>
<body>
<div style="text-align: center; align-content: center">
    <center>

        <div align="center" style="width: 50%; height:50%">
            <form method="POST">
                {% csrf_token %}

                <fieldset dir="rtl">

                    <legend>إضاف طالب</legend>
                    <p>
                        <label>الاسم و الكنية :<input type="text" name="name" value="{{name}}"></label>
                    </p>
                    <p>
                        <label>الرقم : <input name="number" type="text" value="{{phone}}"></label>
                    </p>
                    <p>
                        <label>الرصيد : <input name="balance" type="number" value={{balance}}></label>
                    </p>
                    <p>
                        <label>كود التفعيل : <input name="activation" type="number" value={{act}}></label>
                    </p>
                    <input name="add" type="submit" value="اضافة">
                     <button><a href="{% url 'addstudent'%}">تنظيف</a></button>

                </fieldset>

            </form>
        </div>
    </center>
</div>
<a href="{% url 'manage'%}">الرجوع</a>
</body>
</html>