<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>شحن رصيد</title>
</head>
<body>
<div style="text-align: center; align-content: center">
    <center>

        <div align="center" style="width: 50%; height:50%">
            <form method="POST">
                {% csrf_token %}

                <fieldset dir="rtl">

                    <legend>إضاف طالب</legend>
                    <p>
                        <label>الرقم : <input name="number" type="text" value="{{list.student_phone}}"/></label>
                    </p>
                    <p>
                        <label>الاسم و الكنية :<input type="text" name="name" value="{{list.student_name}}" ></label>
                    </p>
                    <p>
                        <label>الرصيد : <input name="balance" type="number" value="{{list.student_balance}}"/></label>
                    </p>
                    <input name="add" type="submit" value="اضافة">

                </fieldset>

            </form>
        </div>
    </center>
</div>
<a href="{% url 'manage'%}">الرجوع</a>
</body>
</html>