<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>اختبارات</title>
</head>
<body>
<div style="text-align: center;">
    <br>
    <pre><a style="font-size: 18px" href="{% url 'ApplicationExM' id=names1.id%}">اختبار 1 </a>     <a href="{% url 'ApplicationEx1'%}"> اضافة \حذف اسئلة </a><br><br></pre>
    <pre><a style="font-size: 18px" href="{% url 'ApplicationExM' id=names2.id%}">اختبار 2 </a>     <a href="{% url 'ApplicationEx2'%}"> اضافة \حذف اسئلة </a><br><br></pre>
    <pre><a style="font-size: 18px" href="{% url 'ApplicationExM' id=names3.id%}">اختبار 3 </a>     <a href="{% url 'ApplicationEx3'%}"> اضافة \حذف اسئلة </a><br><br></pre>
    <pre><a style="font-size: 18px" href="{% url 'ApplicationExM' id=names4.id%}">اختبار 4 </a>     <a href="{% url 'ApplicationEx4'%}"> اضافة \حذف اسئلة </a><br><br></pre>
    <pre><a style="font-size: 18px" href="{% url 'ApplicationExM' id=names5.id%}">اختبار 5 </a>     <a href="{% url 'ApplicationEx5'%}"> اضافة \حذف اسئلة </a><br><br></pre>
    <pre><a style="font-size: 18px" href="{% url 'ApplicationExM' id=names6.id%}">اختبار 6 </a>     <a href="{% url 'ApplicationEx6'%}"> اضافة \حذف اسئلة </a><br><br></pre>







</div>


<a href="{% url 'Application'%}">الرجوع</a>

</body>
</html>