<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تطبيق</title>
</head>
<body>
<div style="text-align: center;">
    <br><a href="{% url 'Application1'%}" style="font-size: 18px;">أسلوب الشرط</a><br><br>
    <br><a href="{% url 'Application2'%}" style="font-size: 18px;">إعراب جمل</a><br><br>
    <br><a href="{% url 'Application3'%}" style="font-size: 18px;">المصادر المؤولة</a><br><br>
    <br><a href="{% url 'Application4'%}" style="font-size: 18px;">أسلوب النداء</a><br><br>
    <br><a href="{% url 'Application5'%}" style="font-size: 18px;">ثوابت إعرابية</a><br><br>
    <br><a href="{% url 'ApplicationEx'%}" style="font-size: 18px;">اختبارات</a><br><br>

</div>

<a href="{% url 'GMA'%}">الرجوع</a>
</body>
</html>