<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تحليل</title>
</head>
<body >
<div style="text-align: center;" dir="rtl">

    <br><a href="{% url 'APre_IslamicLiterature'%}" style="font-size: 18px;"> إضافة محاضرة </a><br><br>
    {% for x in name%}
    <pre style="font-size: 18px">{{x.lname}}    <a href="{% url 'APre_IslamicLiteratureE' number=x.number%}">تعديل\حذف</a>    </pre>
    {%endfor%}



</div>
<a href="{% url 'Pre_IslamicLiterature'%}">الرجوع</a>
</body>
</html>