<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>علوم القرآن</title>
</head>
<body>
<div align="center">

    <a href="{% url 'AQuranSciencesM' %}">تحليل</a><br><br>
    <a href="{% url 'HQuranSciencesM' %}">تاريخ</a><br><br>
    <a href="{% url 'MaryamM' %}">سورة مريم</a><br><br>
    <a href="{% url 'AMMM' %}">جزء عمّ</a><br><br>
    <a href="{% url 'QuranSciencesGM' %}">أسئلة ذهبية</a><br><br>
    <a href="{% url 'QuranSciencesPM' %}">أسئلة دورات</a><br><br>

</div>

<a href="{% url 'firstsemester'%}">الرجوع</a>
</body>
</html>