<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>اضافة دورة</title>
</head>
<body>
<div style="text-align: center; align-content: center">
    <center>

        <div align="center" style="width: 50%; height:50%">
            <form method="POST">
                {% csrf_token %}

                <fieldset dir="rtl">

                    <legend>إضافة دورة</legend>
                    <p>
                        <label>السنة : <input type="number" name="ExNo" ></label>
                    </p>
                    <p>
                        <label>الفصل (بالأرقام) : <input name="semestery" type="text"/></label>
                    </p>


                    <p>
                        <label>السعر : <input name="price" type="number" value="0"/></label>
                    </p>

                    <label>نشر<input name="check" type="checkbox" value="checked"></label>

                    <input name="add" type="submit" value="تاكيد">

                </fieldset>

            </form>
        </div>
    </center>
</div>

</center>
<div style="text-align: center;">
    <center>
        <div align="center" style="width: 50%; height:50%">
            <form method="POST">
                {% csrf_token %}

                <fieldset dir="rtl">

                    <legend>حذف الدورة</legend>

                    <!-- Label and input field -->
                    <p>
                        <label>رقم الدورة <input name="id" type="number"/></label>
                    </p>


                    <input name="delete" type="submit" value="تاكيد">


                </fieldset>
            </form>
        </div>
    </center>
</div>
<a href="{% url 'AResearchSeedsPS'%}">الرجوع</a>

{%for x in names%}
<p align="right" dir="rtl">
    {{x.lname}} ترتيب {{x.number}} <b>الرقم </b> ({{x.id}})
</p>

{% endfor %}
<a href="{% url 'AResearchSeedsPS'%}">الرجوع</a>
</body>

</html>