<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تعديل او حذف دورة</title>
</head>
<body>

<div style="text-align: center;">
<center>
    <div align="center" style="width: 50%; height:50%">
        <form action="" enctype="multipart/form-data" method="POST">
            {% csrf_token %}

            <fieldset dir="rtl">

                <legend>تعديل ملف</legend>

                <!-- Label and input field -->
                <p>
                    <label>السنة : <input type="number"  name="pyear" value="{{name.pyear}}"></label>
                </p>

                <p>
                    <label>الفصل : <input name="number" type="number" value="{{name.number}}"></label>
                </p>

                <p>
                    <label>سعر الدورة : <input name="price" type="number" value="{{name.lprice}}"></label>
                </p>
                {% if name.publish%}
                    <label>نشر<input name="check" type="checkbox" checked></label>
                    {% else%}
                    <label>نشر<input name="check" type="checkbox"></label>
                    {% endif %}

                <input name="add" type="submit" value="تاكيد">

            </fieldset>
        </form>
    </div>
    </center>
</div>


<div style="text-align: center;">
<center>
    <div align="center" style="width: 50%; height:50%">
        <form method="POST">
                {% csrf_token %}

                <fieldset dir="rtl">

                    <legend>حذف الملف</legend>


                    <pre style="color: red ;font-size: 18px">   <label><input name="delete" type="submit" value="تاكيد">   حذف الملف  </label>   </pre>


                </fieldset>
            </form>
    </div>
    </center>
</div>

<a href="{% url 'PHistoryS'%}">الرجوع</a>



</body>
</html>